<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>


<div id="app">
    {{ message }}
    <input name="message" v-model="message">

    <p>{{ show }}</p>

    <ul>
        <li v-for="item in listData">{{item}}</li>
    </ul>

    <button v-on:click="click">哈哈</button>

    <todo-item v-bind:todo="message"></todo-item>


    <!--<ol>-->
        <!--<todo-item v-for="item in todoList" v-bind:todo="item"></todo-item>-->
    <!--</ol>-->
</div>



<script src="../node_modules/vue/dist/vue.js"></script>
<script src="js/vue-helloworld.js"></script>

</body>
</html>