<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>

<div id="app">
    <p>message 1:</p>
    {{ message }}
    <input name="message" v-model="message">
    <br/>
    <p>message 2:</p>
    {{ message2 }}
    <input name="message2" v-model="message2">

    <p>Computed (Cached): {{ message2 + ' - ' + messageLength1 }}</p>
    <p>Method (Not cached): {{ message2 + ' - '+ messageLength2() }}</p>

    <button @click="messageLength1">Call Fn In Computed</button> <!-- throws error! -->

</div>

<script src="../../node_modules/vue/dist/vue.js"></script>
<script src="./computedVsMethod.js"></script>

</body>
</html>