<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>

<div id="app">
    <span> v-for with condition: age &gt; </span><input v-model="condition">

    <!-- use v-if -->
    <ol>
        <li v-for="(el, index) in people" v-if="el.age > condition">
            {{ index }} -- {{ el.name }} -- {{ el.age }}
        </li>
    </ol>

    <!-- use computed to create a view -->
    <ol>
        <li v-for="(el, index) in largerThen">
            {{ index }} -- {{ el.name }} -- {{ el.age }}
        </li>
    </ol>

</div>

<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script src="./v-for-conditional.js"></script>

</body>
</html>